$top-back:#f2f2f2;
/*drop-border*/
$top-link-back:#ededed;
$top-link:#939598;
/*drop-link, more-btn-text*/
$lang:#959494;
$main:#780b3d;
$grey:#c3c6c9;
$border:#e4e6eb;
$text:#4a4b4c;
$back:#fafafa;
$more-link:#b0b0b0;
$social:#e6e6e6;
$footer-back:#333333;
$social-text:#999999;
$footer:#c7c7c7;
$news-back:#424242;
$news-text:#7a7a7a;
$copy:#898989;





$ltr: "html[dir='ltr']";