@font-face {
    font-family: 'sst';
    src: url('../fonts/SST/SST-ARABIC-ROMAN.TTF');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/SST/SST-ARABIC-LIGHT.TTF');
}

@font-face {
    font-family: 'med';
    src: url('../fonts/SST/SST-ARABIC-MEDIUM.TTF');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/SST/SST-ARABIC-BOLD.TTF');
}