.form-cont {
    margin: auto;
    margin-top: 43px;
    margin-bottom: 160px;
    width: 50%;

    @include sm {
        width: 100%;
        padding: 0 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .input-label {
        margin-bottom: 30px;
        position: relative;

        &.req {
            span {

                &::after {
                    content: "(مطلوب)";

                    #{$ltr} & {
                        content: "(Required)";
                    }
                }
            }
        }

        span {
            width: 100%;
            display: block;
            font-size: 18px;
            font-family: med;
            margin-bottom: 10px;
            color: $text;
        }

        .input-form {
            width: 100%;
            height: 45px;
            border-radius: 22.5px;
            border: 1px solid $border;
            font-size: 16px;
            color: $text;
            text-align: right;
            padding: 0 27px;
            @include transition(all 0.3s ease-in-out);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff !important;

            #{$ltr} & {
                text-align: left;
            }

            &:focus {
                border-color: $main;
            }

            &::placeholder {
                text-align: right;
                color: $grey;

                #{$ltr} & {
                    text-align: left;
                }
            }

            &.textarea {
                height: 150px;
                resize: none;
                padding: 15px 27px;
                box-sizing: 10px;
            }
        }

        .select-arrow {
            position: relative;
            width: 100%;

            &::after {
                content: "\f0d7";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 12px;
                color: $text;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 27px;

                #{$ltr} & {
                    right: 27px;
                    left: auto;
                }
            }
        }


    }

    .submit {
        width: 150px;
        height: 45px;
        border-radius: 30px;
        border: 1px solid $main;
        background-color: $main;
        font-size: 16px;
        color: #fff;
        margin: 24px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: #fff;
            border-color: $border;
            color: $text;
        }
    }
}


.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    left: 5px;
    bottom: 5px;
}

.upload-btn-wrapper .btn {
    background-color: $grey;
    border: none;
    width: 119px;
    height: 36px;
    font-size: 14px;
    color: #7a7a7a;
    border-radius: 20px;
    cursor: pointer !important;
    transition: 0.2s ease all;
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 119px;
    height: 36px;
    border-radius: 36px;
    cursor: pointer !important;
    background-color: #fff !important;
    cursor: pointer !important;
}

.upload-btn-wrapper input[type=file]:hover {
    cursor: pointer !important;
    cursor: pointer !important;
}

.upload-btn-wrapper input[type=file]:hover+.btn {
    background-color: rgba($grey, 0.5);
    color: $text;
    cursor: pointer;
    cursor: pointer !important;
}